*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#f6d365,#fda085);
    font-family:poppins,sans-serif;
}

header{
    font-size: 1.5rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border:none;
    background: white;
}
form button{
    color: #d88771;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #d88771;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    /* min-width: 30%; */
    width: 87.5vmin;
    list-style: none;
    max-width: 87.5vmin ;
}
.todo-div{
    margin: 0.5rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.todo-item{
    flex:1;
    font-size: 1.5rem;
    overflow: hidden;
    margin:0 0.5rem 0 0.5rem;
}

.complete-btn,
.trash-btn{
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn{
    background: green;
    color: white;
}
.complete-btn:hover{
    background: white;
    color: green;
}
.trash-btn{
    background: red;
    color: white;
}
.trash-btn:hover{
    background: white;
    color: red;
}

.fa-trash,.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translate(8rem) rotate(20deg) ;
    opacity: 0;
}

/* FILTER */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

    color: #d88771;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
.select::after{
    content:"\25BC";
    position:absolute;
    background: #d88771;
    top: 0px;
    right: 0px;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after{
    background: white;
    color: tomato;
}